@import url('style.css');

@page {
  size: portrait;
  margin-left: 0;
  margin-right: 0;

  @top-center {
    content: element(headerCenter);
    width: 100%;
    height: initial;
    background-color: var(--light-blue);
  }

  @bottom-center {
    content: element(footerCenter);
    width: 100%;
    height: initial;
    background-color: var(--dark-blue);
  }
}

body {
  font-size: 80%;
}

header {
  position: running(headerCenter);
  height: 0;
}

footer {
  position: running(footerCenter);
  height: 0;
}
