@import url('global.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
header {
    display: flex;
    justify-content: space-around;
    color: #152238;
    background-color: var(--light-blue);
    align-items: center;
    width: 100%;
    height: 5em;
  }

.container {
  width: 98%;
  margin: auto;
}

.main-heading {
  padding: 5em 0 1em 0;
}

.report-info {
  display: flex;
  justify-content: space-around;
  background-color: var(--light-blue);
}
.report-info > * {
  padding: 1em 2em;
}

.report-info ul li:first-child {
   font-weight: 900;
   padding-bottom: 0.8em;
}

  
footer {
    background-color: var(--dark-blue);
    height: 7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
  }
  
footer ul, header ul {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

footer ul li span {
  display: block;
  margin-top: 0.5em;
}
  
header img {
    width: auto;
    height: 4em;
  }
  
.table-col {
    width: 35%;
    padding-right: 3em;
  }
  
.table-main thead tr {
    background-color: var(--dark-blue);
    color: #fff;
  }
  
.table-main {
    border-collapse: separate;
    border-spacing: 0 2em;
  }
 
.table-main th {
  padding: 1em 0.8em;
  text-align: left;
}


.inside-table {
  width: 100%;
  height: 5em;
  background-color: #F0F8FF;
  margin-bottom: 0.3em;
  padding: 1em 0.8em;
  display: flex;
  align-items: center; 
}

.inside-table h3 {
  font-size: 1em;
}

